
all_weather.dta
processed/yeshov_list.dta
processed/yeshov_list.dta
processed/average_daily_wind.dta
processed/daily_weather.dta
processed/distance_matrix.dta
processed/measurement_data_files.dta
processed/merged_daily_rain.dta
processed/merged_hail_temp.dta
processed/merged_hourly_wind.dta
processed/station_data.dta
processed/distance_matrix.dta
processed/merged_hourly_wind.dta
processed/station_data.dta
processed/yeshov_list.dta
processed/distance_matrix.dta
processed/merged_hourly_wind.dta
processed/station_data.dta
processed/yeshov_list.dta
processed/distance_matrix.dta
processed/merged_hourly_wind.dta
processed/station_data.dta
processed/yeshov_list.dta
processed/distance_matrix.dta
processed/merged_hourly_wind.dta
processed/station_data.dta
processed/yeshov_list.dta
